
body {
    margin: 0;
    font-size: 16px;
    background-color: #FFFFFF;

}
*, 
*::before,
*::after { 
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p { 
    margin: 0 0 10px;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
font-style: italic;
font-size: 35px;
padding: 40px 0;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.features{
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
    
}
.features__item{
    width: 33.33333%;
    text-align: center;
    padding: 0 20px;
    margin: 25px 0;
}

h2 {
    padding: 10px;
}


#result3 {
    padding: 0;
}
#result31 {
    padding: 0;
}

#result7 {
    padding: 0;
}
#result71 {
    padding: 0;
}

#result9 {
    padding: 0;
}
#result91 {
    padding: 0;
}

.last {
    display: flex;
    align-content: center;
    justify-content: center;
}